In [2]:
import pandas as pd
import csv
import json

In [4]:
# 데이터 불러오기
df = pd.read_csv('각 연도별예측결과값.csv', encoding='euc-kr')
df

,법정동코드,1개월후,2개월후,3개월후,6개월후,1년후,2년후,3년후
0,2920011700,35189.78330,35205.70694,35221.63057,35269.40148,36766.22336,38358.58706,39950.95076
1,2920010100,35190.35446,35206.27810,35222.20173,35269.97264,36766.79452,38359.15822,39951.52192
2,2915510800,36796.49282,36812.41645,36828.34009,36876.11100,38372.93288,39965.29658,41557.66028
3,2917010800,36261.03007,36276.95371,36292.87734,36340.64825,37837.47013,39429.83383,41022.19753
4,2917011400,36260.81588,36276.73952,36292.66316,36340.43407,37837.25595,39429.61965,41021.98335
...,...,...,...,...,...,...,...,...
81,2917010400,36261.17286,36277.09650,36293.02013,36340.79105,37837.61292,39429.97662,41022.34032
82,2911010100,38403.13094,38419.05457,38434.97821,38482.74912,39979.57100,41571.93470,43164.29840
83,2915511100,36796.38572,36812.30936,36828.23300,36876.00391,38372.82579,39965.18949,41557.55318
84,2917010200,36261.24426,36277.16789,36293.09153,36340.86244,37837.68432,39430.04802,41022.41172
85,2915512100,36796.02875,36811.95239,36827.87602,36875.64693,38372.46881,39964.83251,41557.19621

In [7]:
# 데이터프레임을 JSON 파일로 내보내기
output_file = 'result.json'
with open(output_file, 'w', encoding='utf-8') as json_file:
    json_file.write(df.to_json(orient='records', force_ascii=False, indent=2)) # indent = 줄바꿈 
print('JSON 파일이 생성되었습니다.')

JSON 파일이 생성되었습니다.