In [1]:
import pandas as pd

In [2]:
data= pd.read_csv("apart data.csv", encoding ="EUC-KR")

In [3]:
data.head()

,행정명,번지,본번,부번,단지명,단지명길이,전용면적(㎡),계약년월,계약년,계약월,계약일,거래금액(만원),층,건축년도,건물나이,도로명,해제사유발생일,거래유형,중개사소재지
0,광산구 도산동,1138-2,1138,2,대덕1,3,59.3100,202303,2023,3,18,9800,4,1990,33,송도로 143,NaN,중개거래,광주 광산구
1,광산구 도산동,790,790,0,대주피오레1차,7,84.9800,202302,2023,2,7,21000,2,2000,23,송도로182번길 55,NaN,중개거래,광주 광산구
2,광산구 도산동,790,790,0,대주피오레1차,7,84.9800,202305,2023,5,31,22350,5,2000,23,송도로182번길 55,NaN,중개거래,광주 광산구
3,광산구 도산동,820,820,0,대주피오레2차,7,84.7575,202305,2023,5,9,22400,5,2001,22,송도로182번길 16-3,NaN,직거래,-
4,광산구 도산동,820,820,0,대주피오레2차,7,84.7575,202305,2023,5,13,22000,13,2001,22,송도로182번길 16-3,NaN,중개거래,광주 광산구

In [5]:
data=data.drop(['번지','본번','부번','도로명','해제사유발생일','거래유형','중개사소재지'], axis =1)

In [6]:
data.head()

,행정명,단지명,단지명길이,전용면적(㎡),계약년월,계약년,계약월,계약일,거래금액(만원),층,건축년도,건물나이
0,광산구 도산동,대덕1,3,59.3100,202303,2023,3,18,9800,4,1990,33
1,광산구 도산동,대주피오레1차,7,84.9800,202302,2023,2,7,21000,2,2000,23
2,광산구 도산동,대주피오레1차,7,84.9800,202305,2023,5,31,22350,5,2000,23
3,광산구 도산동,대주피오레2차,7,84.7575,202305,2023,5,9,22400,5,2001,22
4,광산구 도산동,대주피오레2차,7,84.7575,202305,2023,5,13,22000,13,2001,22

In [9]:
data['거래건수'] = data.groupby(['행정명', '계약년'])['행정명'].transform('count')

# 결과 확인
data

,행정명,단지명,단지명길이,전용면적(㎡),계약년월,계약년,계약월,계약일,거래금액(만원),층,건축년도,건물나이,거래건수
0,광산구 도산동,대덕1,3,59.3100,202303,2023,3,18,9800,4,1990,33,84
1,광산구 도산동,대주피오레1차,7,84.9800,202302,2023,2,7,21000,2,2000,23,84
2,광산구 도산동,대주피오레1차,7,84.9800,202305,2023,5,31,22350,5,2000,23,84
3,광산구 도산동,대주피오레2차,7,84.7575,202305,2023,5,9,22400,5,2001,22,84
4,광산구 도산동,대주피오레2차,7,84.7575,202305,2023,5,13,22000,13,2001,22,84
...,...,...,...,...,...,...,...,...,...,...,...,...,...
425074,서구 화정동,화정우미,4,115.1850,200611,2006,11,10,19000,17,1996,10,1072
425075,서구 화정동,화정우미,4,84.8300,200611,2006,11,27,12000,6,1996,10,1072
425076,서구 화정동,화정우미,4,59.8300,200611,2006,11,30,7700,2,1996,10,1072
425077,서구 화정동,화정우미,4,84.8400,200612,2006,12,6,12170,16,1996,10,1072
425078,서구 화정동,화정우미,4,115.1850,200612,2006,12,12,17500,14,1996,10,1072

In [11]:
data.to_csv('거래건수 추가.csv', encoding='EUC-KR')