In [1]:
import pandas as pd

In [13]:
data= pd.read_csv("06~23 광주아파트(매매).csv", encoding="EUC-KR")

C:\Users\gjaischool1\AppData\Local\Temp\ipykernel_14268\3144801100.py:1: DtypeWarning: Columns (16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  data= pd.read_csv("06~23 광주아파트(매매).csv", encoding="EUC-KR")

In [4]:
data.head()

,시군구,번지,본번,부번,단지명,단지명길이,전용면적(㎡),계약년월,계약년,계약월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일,거래유형,중개사소재지
0,광주광역시 광산구 도산동,1138-2,1138,2,대덕1,3,59.3100,202303,2023,3,18,"9,800",4,1990,송도로 143,NaN,중개거래,광주 광산구
1,광주광역시 광산구 도산동,790,790,0,대주피오레1차,7,84.9800,202302,2023,2,7,"21,000",2,2000,송도로182번길 55,NaN,중개거래,광주 광산구
2,광주광역시 광산구 도산동,790,790,0,대주피오레1차,7,84.9800,202305,2023,5,31,"22,350",5,2000,송도로182번길 55,NaN,중개거래,광주 광산구
3,광주광역시 광산구 도산동,820,820,0,대주피오레2차,7,84.7575,202305,2023,5,9,"22,400",5,2001,송도로182번길 16-3,NaN,직거래,-
4,광주광역시 광산구 도산동,820,820,0,대주피오레2차,7,84.7575,202305,2023,5,13,"22,000",13,2001,송도로182번길 16-3,NaN,중개거래,광주 광산구

In [17]:
data=data.drop(['번지','본번','부번','단지명길이','계약월','도로명','해제사유발생일','거래유형','중개사소재지'], axis=1)

             시군구      단지명  전용면적(㎡)    계약년월  계약일 거래금액(만원)   층  건축년도
0  광주광역시 광산구 도산동      대덕1  59.3100  202303   18    9,800   4  1990
1  광주광역시 광산구 도산동  대주피오레1차  84.9800  202302    7   21,000   2  2000
2  광주광역시 광산구 도산동  대주피오레1차  84.9800  202305   31   22,350   5  2000
3  광주광역시 광산구 도산동  대주피오레2차  84.7575  202305    9   22,400   5  2001
4  광주광역시 광산구 도산동  대주피오레2차  84.7575  202305   13   22,000  13  2001

In [18]:
# 시군구에서 동명만 추출
data['동명'] = data['시군구'].apply(lambda x: x.split()[-1])

In [19]:
# 거래건수 추가
data['거래건수'] = data.groupby(['시군구', '계약년월'])['시군구'].transform('count')

In [15]:
# 건축나이 추가
data['건축나이']= data['계약년']-data['건축년도']

In [21]:
# 금리 추가
df_ir = pd.read_csv('한국은행 기준금리 및 여수신금리_2006~2023.csv')
df_ir['변환'].replace('/', '', regex=True, inplace=True)
df_ir['변환'] = df_ir['변환'].astype('int')
df_ir.set_index('변환', inplace=True)
data['기준금리'] = data['계약년월'].apply(lambda x: df_ir.loc[x, :][0])

In [22]:
data.head()

,시군구,단지명,전용면적(㎡),계약년월,계약년,계약일,거래금액(만원),층,건축년도,건축나이,동명,거래건수,기준금리
0,광주광역시 광산구 도산동,대덕1,59.3100,202303,2023,18,"9,800",4,1990,33,도산동,20,3.5
1,광주광역시 광산구 도산동,대주피오레1차,84.9800,202302,2023,7,"21,000",2,2000,23,도산동,14,3.5
2,광주광역시 광산구 도산동,대주피오레1차,84.9800,202305,2023,31,"22,350",5,2000,23,도산동,16,3.5
3,광주광역시 광산구 도산동,대주피오레2차,84.7575,202305,2023,9,"22,400",5,2001,22,도산동,16,3.5
4,광주광역시 광산구 도산동,대주피오레2차,84.7575,202305,2023,13,"22,000",13,2001,22,도산동,16,3.5